<div>
    <h1>Nutritiously.org</h1>
    <a class="mhealth_connect" href="https://mhealth.att.com/mobile/auth?client_id=cool_test_app&response_type=code&redirect_uri=localhost%3A3000%2Fauth%2Fcallback&scope=%2Fhealth%2Fread%2Fuser">Tap here to connect with mHealth</a>
</div>