<div id="container"></div>

<script id="home_template" type="text/template">
  <div>
    <h1>Home Screen</h1>
    
  </div>
</script>

<script id="account_template" type="text/template">
  <div>
    <h1>Account Screen</h1>
  </div>
</script>

