
<script id="home_template" type="text/template">
  <div>
    <h1>Nutriciously.org</h1>
    <a class="mhealth_connect" href="#">Tap here to connect with mHealth</a>
  </div>
</script>

<script id="account_template" type="text/template">
  <div>
    <h1>Account Screen</h1>
    <a>Log Ailment</a>
    <a>Log Food</a>
  </div>
</script>

