<div id="template_container">
</div>

<script type="text/javascript">
  $(function () {
    window.App = new NutritiousApp();
    Backbone.history.start()
  });
</script>

<script id="account_template" type="text/template">
  <div>
    <h1>Account Screen</h1>
    <a href="#symptom">Log Ailment</a>
    <a>Log Food</a>
    <a>View Report</a>
  </div>
</script>

<script id="symptom_template" type="text/template">
  <div>
    <h1>Ailment Screen</h1>
    <div id="page_content">
    </div>
  </div>  
</script>



<script id="meals_template" type="text/template">
  <div>
    <h1>Meal Screen</h1>
  </div>
</script>



<script id="history_template" type="text/template">
  <div>
    <h1>History Screen</h1>
  </div>
</script>

<script id="loading_icon" type="text/template">
  <div style="text-align: center; padding-top:15%;">
    <img src="/assets/loading.gif" />
  </div>
</script>